<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="header :: header">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{home.tabtitle}">tabTitle</title>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/plotly-latest.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/iDatabase.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div th:replace="title :: title">title</div>

<div th:class="container">
    <h4 th:text="'Genecard for gene: ' + ${geneName}"></h4>

    <p th:text="${geneName} + ' ' + #{results.explanation}">tableBelow</p>
    <table th:id="geneTable">
        <thead>
            <tr>
                <th>Stress</th>
                <th>timepoint</th>
                <th>ensembl id</th>
                <th>log 2 fold</th>
                <th>p-value</th>
                <th>gene name</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="gene : ${genes}">
                <tr>
                    <td th:text="${gene.stressFactor}">stressfactor</td>
                    <td th:text="${gene.timepoint}">timepoint</td>
                    <td th:text="${gene.ensId}">ensembl id</td>
                    <td th:text="${gene.log2fold}">log 2 fold</td>
                    <td th:text="${gene.pval}">pvalue</td>
                    <td th:text="${gene.geneName}">name</td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <a th:text="#{results.tryAgain}" th:href="home">returnHome</a>

    <div th:id="${geneName}" th:class="boxplot"></div>
</div>

</body>
</html>