<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body>
<div th:replace="title :: title">title</div>

<div th:class="container">
    <p th:text="#{results.explanation}">tableBelow</p>
    <table th:id="geneTable">
        <thead>
            <tr>
                <th>Stress</th>
                <th>timepoint</th>
                <th>ensembl id</th>
                <th>log 2 fold</th>
                <th>p-value</th>
                <th>gene name</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="gene : ${genes}">
                <tr>
                    <td th:text="${gene.stressFactor}">stressfactor</td>
                    <td th:text="${gene.timepoint}">timepoint</td>
                    <td th:text="${gene.ensId}">ensembl id</td>
                    <td th:text="${gene.log2fold}">log 2 fold</td>
                    <td th:text="${gene.pval}">pvalue</td>
                    <td th:text="${gene.geneName}">name</td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <a th:text="#{results.tryAgain}" th:href="home">returnHome</a>
</div>
</body>
</html>