<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{home.tabtitle}">tabTitle</title>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/plotly-latest.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
    <script type="text/javascript" th:src="@{/js/autocomplete.js}"></script>
    <link rel="stylesheet" th:href="@{/css/iDatabase.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>