<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{home.tabtitle}">tabTitle</title>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
    <script type="text/javascript" th:src="@{/js/autocomplete.js}"></script>
    <link rel="stylesheet" th:href="@{/css/iDatabase.css}"/>

</head>
<body>
    <p th:text="#{home.welcome}">welcome</p>
    <p th:text="#{home.searchGenes}">Search gene:</p>

    <form th:id="geneForm" th:action="@{'/' + ${#locale.language} + '/gene'}">
        <input th:id="geneId" name="geneId" type="text"/>
        <button>submit</button>
    </form>
    <br/>

    <p th:text="#{home.searchSNP}">Search SNP:</p>

    <form th:id="snpForm" th:action="@{'/' + ${#locale.language} + '/snp'}">
        <input th:id="snpName" th:type="text"/>
    </form>
    <button id="submitSNP">test rest</button>
    <div id="responseTest">test</div>

</body>
</html>