<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header">
</head>
<body>
    <div th:replace="title::title">title</div>
    <div th:class="container" th:id="searchContainer">
        <div th:class="jumbotron">
            <div th:class="row">
                <div th:class="col-md-4" th:id="welcomeMessages">
                <p th:text="#{home.welcome}">welcome</p>
                <p th:text="#{home.DEGsearch}">degSearch</p>
                <p th:text="#{home.SNPsearch}">snpSearch</p>
                </div>
                <div th:class="col-md-8">
                    <ul class="nav nav-tabs">
                        <li class="active" th:id="tab1"><a href="#" th:id="snpSearchTab">SNP</a></li>
                        <li th:id="tab2"><a href="#" th:id="degSearchTab">DEG</a></li>
                    </ul>
                    <div th:replace="stressSearch::stressSearch"></div>
                    <div th:replace="snpSearch::snpSearch"></div>
                </div>
            </div>
        </div>
        <div th:replace="footer::footer">footer</div>
    </div>
</body>
</html>