<div th:fragment="snpSearch" th:id="snpSearch"><br/>
    <div th:text="#{home.snpSearch.explain}">explained</div><br/>
    <form th:id="qtlForm" th:action="@{'/' + ${#locale.language} + '/snp'}">
        <div class="form-group">
            <label for="qtlId"> SNP or Gene:
            <input id="qtlId" class="form-control" th:name="qtlId" th:type="text" th:placeholder="rs1234567" required="true"/>
            </label>
        </div>
        <div class="form-group">
            <div th:class="addRegion">
            <label for="region"> Region around gene:
            <input id="region" class="form-control" th:name="region" th:type="number" th:placeholder="250000"/>
            </label>
            </div>
            <a href="#" id="addRegionButton">add region</a><br/>
        </div>
        <button class="btn btn-default">Search</button>
    </form>
</div>
