<div th:fragment="stressSearch" th:id="degSearch">
    <p th:text="#{home.searchGenes}">Search gene:</p>
    <div th:class="error" th:if="${noSuchGene}" th:text="#{home.noSuchGene}">errortest</div>
    <form th:id="geneForm" th:action="@{'/' + ${#locale.language} + '/gene'}">
        <div class="form-group">
            <label for="geneId"> Gene name:
            <input th:id="geneId" class="form-control" name="geneId" type="text" th:placeholder="SKAP2" required="true"/>
            </label>
        </div>
        <button class="btn btn-default">Search gene</button>
    </form>
    <br/>

    <p th:text="#{home.searchSNP}">Search SNP: </p>
    eg: rs6998012, rs3795974
    <form th:id="snpForm">
        <input th:id="snpName" th:type="text" th:placeholder="rs6748375"/>
    </form>
    <button class="btn btn-default" id="submitSNP">Search SNP</button>
</div>