<div th:fragment="title">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="hanzeLogo" th:src="@{/img/hanzeLogo.jpg}"/>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <h1 th:text="#{home.apptitle}">Apptitle</h1>
                    <p th:text="#{home.subtitle}">app subtitle</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="umcgLogo" th:src="@{/img/umcgkikker2.jpg}"/>
            </div>
        </div>
    </div>
    <br/>
</div>